html, body {
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, rgb(240, 63, 63), rgb(44, 44, 241));
  color: whitesmoke;
  /* box-sizing: border-box; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.heading {
  cursor: pointer;
  font-size: xx-large;
}

.subheadind {
  font-size: medium;
}

table {
  width: 500px;
  height: 500px;
  padding: 3px;
  border-radius: 10px;
  border-spacing: 5px;
  font-size: x-large;
  /* border: 1px solid rgb(65, 65, 65); */
  background-color: rgba(245, 245, 245, 0.164);
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.cell {
  width: 25%;
  cursor: pointer;
  border-radius: 8px;
  background-color: rgb(99, 99, 99);
  border: 1px solid rgba(65, 65, 65, 0.616);
  box-shadow: inset 2px 2px 3px 1px rgba(116, 116, 116, 0.5),
  inset -2px -2px 3px 1px rgba(65, 65, 65, 0.3)
}

.empty-cell {
  cursor: default;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.rainbow {
  animation: rainbow 3s linear 0s infinite;
}

.cell:hover, .heading:hover {
  color: white;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5);
}

path {
  fill: whitesmoke;
}

svg:hover {
  fill: white;
  filter: drop-shadow( 0px 0px 3px rgba(255, 255, 255, 0.5));
}

@keyframes rainbow {
  0%,100% {color: pink}
  15% {color: orange}
  30% {color: yellow}
  45% {color:lime}
  60% {color: cyan}
  75% {color: skyblue}
  90% {color: violet}
}

@media (max-width: 600px), (max-height: 700px) {
  table {width: 400px; height: 400px;}
  .title {font-size: large;}
}

@media (max-width: 500px), (max-height: 600px) {
  table {width: 350px; height: 350px;}
  .title {font-size: large;}
}

@media (max-width: 400px), (max-height: 500px) {
  table {width: 300px; height: 300px;}
  .title {font-size: medium;}
}

@media (max-width: 300px), (max-height: 400px) {
  table {width: 250px; height: 250px;}
  .title {font-size: medium;}
}
